<form class="card" [formGroup]="form">
    <div class="p-field" style="padding-bottom: 10px;">
      <label for="name">Наименование<span style="color: red;">*</span></label>
      <div class="p-inputgroup">
        <input id="name" type="text" pInputText [(ngModel)]="category_sotr_element.name" formControlName="name" />
      </div>
      <span class="p-invalid" *ngIf="form.controls['name'].invalid && form.controls['name'].touched">
        <span *ngIf="form.controls['name'].errors?.required">Наименование не должен быть пустым</span>
      </span>
    </div>
  
  
    <div class="p-field" style="padding-bottom: 10px;">
      <label>Родитель</label>
      <div class="p-inputgroup" >
        <input id="parent" type="text" [readonly]="true" pInputText [(ngModel)]="category_sotr_element.parent_name" formControlName="parent" 
        placeholder="Выберите родителя" (click)="selectParent()"/>
        <span class="p-inputgroup-addon cursor-pointer" (click)="clearParent()">×</span>
            <button pButton pRipple type="button"  (click)="selectParent()" icon="pi pi-pencil"
                class="p-button-outlined p-button-text" style="color:dimgrey"></button>
      </div>
    </div>

    <div class="p-field" style="padding-bottom: 10px;">
      <label>Это группа</label>
      <div>
      <p-dropdown placeholder="Выберите" [options]="directory_options" optionLabel="label" optionValue="value"
          appendTo="body" [(ngModel)]="category_sotr_element.group"  formControlName="group" >
      </p-dropdown>
    </div>
  </div>
    <div style="width:100%; padding: 10px 0;">
      <label style="color: red;">* - обязательные поля</label>
    </div>
</form>
  
<div class="flex align-items-center justify-content-center gap-2">
    <button pButton pRipple label="Сохранить" (click)="saveCategory()" icon="pi pi-check"
      [disabled]="form.invalid || form.disabled" class="p-button-outlined p-button-success" ></button>
    <button pButton pRipple label="Отмена" icon="pi pi-times" (click)="closeCategory(false)"
      class="p-button-outlined p-button-warning"></button>
</div>
  
<ng-template #loader>
    <app-skeleton></app-skeleton>
</ng-template>
