<p-toolbar>
  <div class="p-toolbar-group-left">
    <div style="padding-right: 10px;">
      <button [disabled]="form.invalid" pButton pRipple label="Записать" icon="pi pi-save"
        class="p-button-secondary p-mr-2" (click)="saveDoc(false)"></button>
    </div>
    <button [disabled]="form.invalid" pButton pRipple label="Записать и закрыть" icon="pi pi-save"
      class="p-button-info p-mr-2" (click)="saveDoc(true)"></button>
  </div>

  <div class="p-toolbar-group-right">
    <div style="padding-right: 10px;">
      <p-splitButton appendTo="body" label="Еще" [model]="this.items"
        styleClass="p-button-outlined p-button-plain p-mr-2"></p-splitButton>
    </div>
    <div>
      <button pButton pRipple type="button" icon="pi pi-times" class="p-button-outlined p-button-plain p-mr-2"
        styleClass="p-button-sm" (click)="closeform(true)"></button>
    </div>
  </div>
</p-toolbar>

<div class="card" *ngIf="(form_detail) as form_detail; else loader">
  <!-- шапка элемента -->
  <form class="card" [formGroup]="form" style="display: flex; padding-bottom: 10px;">
    <div class="p-field" style="padding-right: 10px;">
      <label for="number_doc">Номер приложении<span style="color: red;">*</span></label>
      <div class="p-inputgroup">
        <input id="number_doc" type="text" pInputText [(ngModel)]="form_detail.form.num_app"
          formControlName="number_doc" />
      </div>
      <span class="p-invalid" *ngIf="form.controls['number_doc'].invalid && form.controls['number_doc'].touched">
        <span *ngIf="form.controls['number_doc'].errors?.required">Номер не должен быть пустым</span>
      </span>
    </div>


    <div class="p-field" style="padding-right: 10px;">

      <label for="name_doc">Наименование <span style="color: red;">*</span></label>
      <div class="p-inputgroup">
        <input id="name_doc" type="text" pInputText [(ngModel)]="form_detail.form.head_form"
          formControlName="name_doc" />
      </div>
      <span class="p-invalid" *ngIf="form.controls['name_doc'].invalid && form.controls['name_doc'].touched">
        <span *ngIf="form.controls['name_doc'].errors?.required">Наименование не должна быть пустой</span>
      </span>
    </div>

    
    <div class="p-field" style="padding-right: 10px;">

      <label for="name_doc">Наименование(каз) <span style="color: red;">*</span></label>
      <div class="p-inputgroup">
        <input id="name_doc" type="text" pInputText [(ngModel)]="form_detail.form.head_form_kaz"
          formControlName="name_doc" />
      </div>
      <span class="p-invalid" *ngIf="form.controls['name_doc'].invalid && form.controls['name_doc'].touched">
        <span *ngIf="form.controls['name_doc'].errors?.required">Наименование не должна быть пустой</span>
      </span>
    </div>

    <div class="p-field" style="padding-right: 10px; min-width: 20rem;">
      <label for="spec_name">Специфика <span style="color: red;">*</span></label>
      <div class="p-inputgroup">
        <input id="spec_name" type="text" pInputText [(ngModel)]="form_detail.form._spec.name_rus"
          formControlName="spec_name" />
        <span class="p-inputgroup-addon cursor-pointer" (click)="viewspec()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-files"
            viewBox="0 0 16 16">
            <path
              d="M13 0H6a2 2 0 0 0-2 2 2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 13V4a2 2 0 0 0-2-2H5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1zM3 4a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4z" />
          </svg>
        </span>
        <span class="p-inputgroup-addon cursor-pointer" (click)="selectspec()">...</span>
      </div>
      <span class="p-invalid" *ngIf="form.controls['spec_name'].invalid && form.controls['spec_name'].touched">
        <span *ngIf="form.controls['spec_name'].errors?.required">Специфика не должно быть пустым</span>
      </span>
    </div>


    <div class="p-field" style="padding-right: 10px;">

      <label for="nomer_form">Номер формы <span style="color: red;">*</span></label>
      <div class="p-inputgroup">
        <input id="nomer_form" type="text" pInputText [(ngModel)]="form_detail.form.name"
          formControlName="nomer_form" />
      </div>
      <span class="p-invalid" *ngIf="form.controls['nomer_form'].invalid && form.controls['nomer_form'].touched">
        <span *ngIf="form.controls['nomer_form'].errors?.required">Номер формы не должна быть пустой</span>
      </span>
    </div>

  </form>
  <!-- тело элемента -->
  <p-tabView>
    <!-- Страница1 - Основная таблица -->
    <p-tabPanel header="ТЧ">
      <div style="padding: 0 0 10px 10px;">
        <button pButton pRipple label="добавить" icon="pi pi-plus" class="p-button-success p-mr-2"
          (click)="add_tbl()"></button>
      </div>
      <p-table [value]="form_detail.tbl" [scrollable]="true" dataKey="id" editMode="row"
        scrollHeight="calc({{windowHeight}}px - 200px)" selectionMode="single"
        styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines">
        <ng-template pTemplate="header">
          <tr>
            <th style="text-align:center">Номер</th>
            <th style="text-align:center; width: 20%;">Имя</th>
            <th style="text-align:center; width: 20%;">Имя Каз</th>
            <th style="text-align:center; width: 10%;">Способ расчета</th>
            <th style="text-align:center; width: 15%;">Заголовок</th>
            <th style="text-align:center; width: 15%;">Заголовок Каз</th>
            <th style="text-align:center">Уровень заголовка</th>
            <th style="text-align:center">Значение</th>
            <th style="text-align:center">Колонка</th>
            <th style="text-align:center">Используемые колонки</th>
            <th style="text-align:center">Основные колонки</th>
            <th style="text-align:center">Итоговая сумма</th>
            <th style="text-align:center">Суммируемая колонка</th>
            <th style="text-align:center">Размер</th>
            <th style="text-align:center">Действия</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-item let-editing="editing" let-ri="rowIndex">
          <tr [pEditableRow]="item">
            <td style="text-align: center; font-weight: 700;">{{ri + 1}}</td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="item.name" style="width: 100%;">
                </ng-template>
                <ng-template pTemplate="output">
                  {{item.name}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="item.name_kaz" style="width: 100%;">
                </ng-template>
                <ng-template pTemplate="output">
                  {{item.name_kaz}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <p-dropdown placeholder="Выберите способ расчета" [options]="tip_options" appendTo="body" optionLabel="name" optionValue="name"
                    [(ngModel)]="item._sposob_ras" [style]="{'width':'100%'}"></p-dropdown>
                </ng-template>
                <ng-template pTemplate="output">
                  {{item._sposob_ras}}
                </ng-template>    
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="item.head" style="width: 100%;">
                </ng-template>
                <ng-template pTemplate="output">
                  {{item.head}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="item.head_kaz" style="width: 100%;">
                </ng-template>
                <ng-template pTemplate="output">
                  {{item.head_kaz}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td style="text-align:center">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="number" [(ngModel)]="item.head_level" style="width: 100%;">
                </ng-template>
                <ng-template pTemplate="output">
                  {{item.head_level}}
                </ng-template>
              </p-cellEditor>
            </td>
            <!-- <td>{{item.name}}</td> -->
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <p-dropdown [options]="statuses" appendTo="body" [(ngModel)]="item.zn"
                    [style]="{'width':'100%'}"></p-dropdown>
                </ng-template>
                <ng-template pTemplate="output">
                  {{item.zn}}
                </ng-template>
              </p-cellEditor>
              <!-- <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="item.zn">
                </ng-template>
                <ng-template pTemplate="output">
                  {{item.zn}}
                </ng-template>
              </p-cellEditor> -->
            </td>
            <td style="width: 20px;">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="item._column" style="width: 100%;">
                </ng-template>
                <ng-template pTemplate="output">
                  {{item._column}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="item.columns_used" style="width: 100%;">
                </ng-template>
                <ng-template pTemplate="output">
                  {{item.columns_used}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input type="checkbox" [(ngModel)]="item.basic_column" style="width: 100%;">
                </ng-template>
                <ng-template pTemplate="output">
                  <input type="checkbox" [(ngModel)]="item.basic_column" [disabled]="true">
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input type="checkbox" [(ngModel)]="item.itog" style="width: 100%;">
                </ng-template>
                <ng-template pTemplate="output">
                  <input type="checkbox" [(ngModel)]="item.itog" [disabled]="true">
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input type="checkbox" [(ngModel)]="item.total" style="width: 100%;">
                </ng-template>
                <ng-template pTemplate="output">
                  <input type="checkbox" [(ngModel)]="item.total" [disabled]="true">
                </ng-template>
              </p-cellEditor>
            </td>
            <td style="text-align:center">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="number" [(ngModel)]="item.razmer" style="width: 100%;">
                </ng-template>
                <ng-template pTemplate="output">
                  {{item.razmer}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td style="padding: 0; margin:0;">
              <div class="flex align-items-center justify-content-center gap-2">
                <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                  class="p-button-rounded p-button-text"></button>
                <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                  class="p-button-rounded p-button-text p-button-success mr-2"></button>
                <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                  class="p-button-rounded p-button-text p-button-danger"></button>
                <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-text"
                  (click)="deleted_tbl(ri)"></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-tabPanel>
    <!-- Страница2 - Доплаты -->
    <p-tabPanel header="Доплата">
      <div style="padding: 0 0 10px 10px;">
        <button pButton pRipple label="добавить" icon="pi pi-plus" class="p-button-success p-mr-2"
          (click)="add_dopl()"></button>
      </div>
      <p-table [value]="form_detail.dopl" [scrollable]="true" dataKey="id" editMode="row"
        scrollHeight="calc({{windowHeight}}px - 200px)" selectionMode="single"
        styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines">
        <ng-template pTemplate="header">
          <tr>
            <th style="text-align:center">Номер</th>
            <th style="text-align:center">Доплата</th>
            <th style="text-align:center">Способ расчета</th>
            <th style="text-align:center">Колонка</th>
            <th style="text-align:center">Значение</th>
            <th style="text-align:center">Входящие</th>
            <th style="text-align:center"></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-item let-editing="editing" let-ri="rowIndex">
          <tr [pEditableRow]="item">
            <td style="text-align: center; font-weight: 700;">{{ri + 1}}</td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <div class="p-inputgroup">
                    <input type="text" pInputText [(ngModel)]="item._doplata_name" />
                    <span class="p-inputgroup-addon cursor-pointer" (click)="selectDoplata(ri)">...</span>
                  </div>
                </ng-template>
                <ng-template pTemplate="output">
                  {{item._doplata_name}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <p-dropdown placeholder="Выберите тип" [options]="tip_options" appendTo="body" optionLabel="name"
                    optionValue="name" [(ngModel)]="item._sposob_ras" [style]="{'width':'100%'}"></p-dropdown>
                </ng-template>
                <ng-template pTemplate="output">
                  {{item._sposob_ras}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="number" [(ngModel)]="item._column">
                </ng-template>
                <ng-template pTemplate="output">
                  {{item._column}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="number" [(ngModel)]="item.summ">
                </ng-template>
                <ng-template pTemplate="output">
                  {{item.summ}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="item.columns_used">
                </ng-template>
                <ng-template pTemplate="output">
                  {{item.columns_used}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td style="padding: 0; margin:0;">
              <div class="flex align-items-center justify-content-center gap-2">
                <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                  class="p-button-rounded p-button-text"></button>
                <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                  class="p-button-rounded p-button-text p-button-success mr-2"></button>
                <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                  class="p-button-rounded p-button-text p-button-danger"></button>
                <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-text"
                  (click)="deleted_dopl(ri)"></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>

      <!-- <p-table [value]="form_detail.dopl" [scrollable]="true" scrollHeight="calc(100vh - 200px)" selectionMode="single"
        styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines">
        <ng-template pTemplate="header">
          <tr>
            <th style="text-align:center">Номер</th>
            <th style="text-align:center">Доплата</th>
            <th style="text-align:center">Способ расчета</th>
            <th style="text-align:center">Значение</th>
            <th style="text-align:center">Входящие</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-item let-ri="rowIndex">
          <tr class="cursor-pointer">
            <td style="text-align: center; font-weight: 700;">{{ri + 1}}</td>
            <td>{{item._doplata_name}}</td>
            <td>{{item._sposob_ras}}</td>
            <td>{{item.summ}}</td>
            <td>{{item.columns_used}}</td>
          </tr>
        </ng-template>
      </p-table> -->
    </p-tabPanel>
  </p-tabView>

  <ng-template #empty>
    <div class="center">
      Нет ни одной записи
    </div>
  </ng-template>
</div>

<p-confirmDialog [closeOnEscape]="true" acceptLabel="Да" rejectLabel="Нет" [style]="{width: '450px'}">
</p-confirmDialog>

<ng-template #loader>
  <app-skeleton></app-skeleton>
</ng-template>