<p-toolbar>
  <div class="p-toolbar-group-left">
    <div style="padding-right: 10px;">
      <button [disabled]="form.invalid || children.length == 0" pButton pRipple label="Записать" icon="pi pi-save"
        class="p-button-secondary p-mr-2" (click)="saveDoc(false)"></button>
    </div>
    <div style="padding-right: 10px;">
      <button [disabled]="form.invalid || children.length == 0" pButton pRipple label="Записать и закрыть"
        icon="pi pi-save" class="p-button-info p-mr-2" (click)="saveDoc(true)"></button>
    </div>
    <button pButton pRipple label="Печать" icon="pi pi-print" class="p-button-warning" (click)="toPrint()"></button>
  </div>

  <div class="p-toolbar-group-right">
    <!-- <div style="padding-right: 10px;">
      <p-splitButton appendTo="body" label="Еще" [model]="this.items"
        styleClass="p-button-outlined p-button-plain p-mr-2"></p-splitButton>
    </div>
    <div>
      <button pButton pRipple type="button" icon="pi pi-times" class="p-button-outlined p-button-plain p-mr-2"
        styleClass="p-button-sm" (click)="closeform(true)"></button>
    </div> -->
  </div>
</p-toolbar>

<div class="card" *ngIf="(Ras4et_detail) as Ras4et_detail; else loader">
  <form class="card" [formGroup]="form" style="display: flex; padding-bottom: 10px;">

    <div class="p-field" style="padding-right: 10px; width: 70%;">

      <label for="name_doc">Наименование <span style="color: red;">*</span></label>
      <div class="p-inputgroup">
        <input id="name_doc" type="text" pInputText [readOnly]="true" [(ngModel)]="Ras4et_detail.head._form.name + ' - ' + Ras4et_detail.head._form.head_form" 
        formControlName="name_doc" />
      </div>
      <span class="p-invalid" *ngIf="form.controls['name_doc'].invalid && form.controls['name_doc'].touched">
        <span *ngIf="form.controls['name_doc'].errors?.required">Наименование не должно быть пустым</span>
      </span>
    </div>


    <div class="p-field" style="min-width: 20rem;">
      <label for="spec_name">Специфика<span style="color: red;">*</span></label>
      <div class="p-inputgroup">
        <input id="spec_name" type="text" pInputText [readOnly]="true" [(ngModel)]="Ras4et_detail.head._spec.code"
          formControlName="spec_name" />
        <!-- <span class="p-inputgroup-addon cursor-pointer" (click)="selectfkr()">...</span> -->
      </div>
      <span class="p-invalid" *ngIf="form.controls['spec_name'].invalid && form.controls['spec_name'].touched">
        <span *ngIf="form.controls['spec_name'].errors?.required">Специфика не должна быть пустой</span>
      </span>
    </div>


  </form>


  <div style="padding: 0 0 10px 10px;">
    <button pButton pRipple label="добавить" icon="pi pi-plus" class="p-button-success p-mr-2"
      (click)="add_tbl()"></button>
  </div>

  <div class="card" style="display: flex; padding-bottom: 10px;">
    <div class="p-field" [ngClass]="{'style85': have_dopl, 'style100': false}">
      <p-table [value]="children" styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines">
        <ng-template pTemplate="header">
          <tr style="text-align: center; font-weight: 700;">
            <th style="text-align: center; width: 2.5%;">Номер</th>
            <th style="text-align: center; width: 5%;" *ngFor="let header of Ras4et_detail.head_table">{{ header }}</th>
            <th style="text-align: center; width: 5%;" *ngIf="have_dopl">Доплаты</th>
            <th style="text-align: center; width: 5%;">Действия</th>
          </tr>
        </ng-template>
        <ng-template let-ChildItem let-ri="rowIndex" pTemplate="body" style="width: 100%;">
          <tr>
            <td style="text-align: center; width: 2.5%;">{{ri + 1}}</td>
            <td *ngFor="let kolon of ChildItem" style="text-align: center; width: 8%;">
              <!-- енстру -->
              <div class="p-inputgroup" *ngIf="kolon.zn == 'enstru'">
                <input id="enstru" type="text" [ngModel]="kolon.zn_enstru.name_rus" [readonly]="true">
                <span class="p-inputgroup-addon cursor-pointer" (click)="selectENSTRU(kolon.zn_enstru)">...</span>
              </div>
              <!-- категория сотрудников -->
              <div class="p-inputgroup" *ngIf="kolon.zn == 'category_sotr'">
                <input id="category_sotr" type="text" [ngModel]="kolon.zn_category_sotr.name" [readonly]="true">
                <span class="p-inputgroup-addon cursor-pointer"
                  (click)="selectCategorySotr(kolon.zn_category_sotr, ri)">...</span>
              </div>
              <!-- число -->
              <input type="number" step="0.001" *ngIf="kolon.zn == 'float'" [ngModel]="kolon.zn_float"
                (ngModelChange)="onInputChange($event, kolon, ri)" [readonly]="kolon.name == 'Коэффициент'">
              <!-- строка -->
              <input type="text" *ngIf="kolon.zn == 'string'" [ngModel]="kolon.zn_string"
                (ngModelChange)="onInputChangeString($event, kolon, ri)">
              <!-- единица измерения -->
              <div class="p-inputgroup" *ngIf="kolon.zn == 'ed_izm'">
                <input type="text" [ngModel]="kolon.zn_ed_izm.name" [readonly]="true">
                <span class="p-inputgroup-addon cursor-pointer" (click)="selectEd_Izm(kolon.zn_ed_izm)">...</span>
              </div>

              <!-- должность -->
              <div class="p-inputgroup" *ngIf="kolon.zn == 'dolzhnost'">
                <input id="dolzhnost" type="text" [ngModel]="kolon.zn_dolzhnost.name_rus" [readonly]="true">
                <span class="p-inputgroup-addon cursor-pointer" (click)="selectDolzhnost(kolon.zn_dolzhnost)">...</span>
              </div>
              <!-- подразделение -->
              <div class="p-inputgroup" *ngIf="kolon.zn == 'podrazdelenie'">
                <input id="podrazdelenie" type="text" [ngModel]="kolon.zn_podrazdelenie.name_rus" [readonly]="true">
                <span class="p-inputgroup-addon cursor-pointer"
                  (click)="selectPodrazdelenie(kolon.zn_podrazdelenie)">...</span>
              </div>
              <!-- доплата и надбавка -->
              <div class="p-inputgroup" *ngIf="kolon.zn == 'dopl_nadb'">
                <input id="dopl_nadb" type="text" [ngModel]="kolon.zn_dopl_nadb.name_rus" [readonly]="true">
                <span class="p-inputgroup-addon cursor-pointer" (click)="selectDoplNadb(kolon.zn_dopl_nadb)">...</span>
              </div>
              <!-- области регионов -->
              <div class="p-inputgroup" *ngIf="kolon.zn == 'oblasti_reg'">
                <input id="oblasti_reg" type="text" [ngModel]="kolon.zn_oblasti_reg.name" [readonly]="true">
                <span class="p-inputgroup-addon cursor-pointer" (click)="selectOblreg(kolon.zn_oblasti_reg)">...</span>
              </div>
              <!-- марки авто -->
              <div class="p-inputgroup" *ngIf="kolon.zn == 'marki_avto'">
                <input id="marki_avto" type="text" [ngModel]="kolon.zn_marki_avto.name" [readonly]="true">
                <span class="p-inputgroup-addon cursor-pointer"
                  (click)="selectMarkiAvto(kolon.zn_marki_avto)">...</span>
              </div>
              <!-- стаж категорий -->
              <div class="p-inputgroup" *ngIf="kolon.zn == 'stazh_category'">
                <input id="stazh_category" type="text" [ngModel]="kolon.zn_stazh_category.name" [readonly]="true">
                <span class="p-inputgroup-addon cursor-pointer"
                  (click)="selectStazh(kolon.zn_stazh_category, ri)">...</span>
              </div>
            </td>
            <td style="text-align:center" *ngIf="have_dopl">
              <div class="p-inputgroup">
                <input type="string" pInputText [(ngModel)]="dopl" />
                <span class="p-inputgroup-addon cursor-pointer" (click)="selectDopl(ri)">...</span>
              </div>
            </td>
            <td style="padding: 0; margin:0; width: 5%;">
              <div class="flex align-items-center justify-content-center gap-2">
                <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-text"
                  (click)="delStr(ri)"></button>
              </div>

            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <!-- <div class="p-field" *ngIf="have_dopl" [ngClass]="{'custom-style': have_dopl}">
      <div class="p-field" *ngIf="(new_dopl|async) as new_dopl">
        <p-table styleClass="p-datatable-striped p-datatable-gridlines" [value]="new_dopl.new_dopl">
          <ng-template pTemplate="header">
            <tr>
              <th style="text-align:center">Доплаты и надбавки</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-dopl *ngFor="let dopl of new_dopl.new_dopl">
            <tr class="cursor-pointer">
              <td>
                {{dopl._sposob_ras}}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div> -->
  </div>

  <ng-template #empty>
    <div class="center">
      Нет ни одной записи
    </div>
  </ng-template>
</div>

<p-confirmDialog [closeOnEscape]="true" acceptLabel="Да" rejectLabel="Нет" [style]="{width: '450px'}">
</p-confirmDialog>

<ng-template #loader>
  <app-skeleton></app-skeleton>
</ng-template>