<p-toolbar>

    <!-- <div class="p-toolbar-group-left" *ngIf="data!==false">
        <button pButton pRipple label="добавить" icon="pi pi-plus" class="p-button-success p-mr-2"
            (click)="openNew()"></button>
    </div> -->
    <div class="p-toolbar-group-left" *ngIf="data!==true">
        <button pButton pRipple label="выбрать"  icon="pi pi-check" class="p-button-success p-mr-2"
            (click)="onSelected(selected)"></button>
    </div>
    <div class="p-toolbar-group-right">
        <span class="p-input-icon-left" style="margin-right: 10px;">
            <i class="pi pi-search"></i>
            <input pInputText type="text" [(ngModel)]="searchorg" (change)="search()" placeholder="поиск..." />
        </span>
        <div style="padding-right: 10px;">
            <button pButton pRipple type="button" icon="pi pi-refresh" class="p-button-outlined"
                styleClass="p-button-sm" (click)="fetchList()"></button>
        </div>
        <div>
            <button pButton pRipple type="button" icon="pi pi-times" class="p-button-outlined" styleClass="p-button-sm"
              (click)="closeform()"></button>
        </div>
    </div>

</p-toolbar>

    <div class="card" *ngIf="(category_sotrs$ | async) as category_sotrs; else loader">
        <p-table *ngIf="category_sotrs.count !== 0; else empty" [value]="category_sotrs.results" [scrollable]="true"
            scrollHeight="calc({{windowHeight}}px - 230px)" selectionMode="single" [(selection)]="selected"
            rowGroupMode="subheader" groupRowsBy="parent" dataKey="parent_name"
            styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines">
    
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:5%; text-align:center">Номер</th>
                    <th style="width:60%; text-align:center">Наименование</th>
                    <!-- <th style="width:5%; text-align:center">Помечен на удаление</th> -->
                    <th style="width:30%; text-align:center">Родитель</th>
                    <!-- <th style="width:5%; text-align:center">Действия</th> -->
                </tr>
    
            </ng-template>

            <ng-template pTemplate="groupheader" let-category let-expanded="expanded">
                <tr>
                    <td colspan="7">
                        <button type="button" pButton pRipple [pRowToggler]="category"
                            class="p-button-text p-button-rounded p-button-plain mr-4"
                            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                        <span class="font-bold">{{category.parent_name}}</span>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="rowexpansion" let-category let-ri="rowIndex">
                <tr class="cursor-pointer"  (dblclick)="onRowClick(category)" [pSelectableRow]="category">
                    <td style="text-align: center; font-weight: 700;">{{ri + 1}}</td>
                    <td style="text-align:center">
                        {{category.name}}
                    </td>
                    <td style="text-align:center">
                        {{category.parent_name}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <ng-template #empty>
            <div class="center">
                Нет ни одной категории сотрудников
            </div>
        </ng-template>
        <div *ngIf="category_sotrs.count !== 0" class="flex align-items-center justify-content-center">
            <span class="mx-1 text-color">Указано</span>
            <p-paginator [first]="first" [rows]="rows" [totalRecords]="category_sotrs.count || 0"
                (onPageChange)="onPageChange($event)" [showCurrentPageReport]="true"
                currentPageReportTemplate="{{first+1}} - {{(first + rows) > (category_sotrs.count || 0)  ? category_sotrs.count : first + rows }} из {{category_sotrs.count}} элементов"
                [showPageLinks]="true" [showFirstLastIcon]="true"></p-paginator>
        </div>
    </div>

    <ng-template #loader>
        <app-skeleton></app-skeleton>
    </ng-template>

    
