<p-toolbar>
    <div class="p-toolbar-group-left">
        <div style="padding-right: 10px;">
            <button [disabled]="form.invalid" pButton pRipple label="Записать" icon="pi pi-save"
                class="p-button-secondary p-mr-2" (click)="saveDoc(false)"></button>
        </div>
        <button [disabled]="form.invalid" pButton pRipple label="Записать и закрыть" icon="pi pi-save"
            class="p-button-info p-mr-2" (click)="saveDoc(true)"></button>
    </div>

    <div class="p-toolbar-group-right">
        <div style="padding-right: 10px;">
            <p-splitButton appendTo="body" label="Еще" [model]="this.items"
                styleClass="p-button-outlined p-button-plain p-mr-2"></p-splitButton>
        </div>
        <div>
            <button pButton pRipple type="button" icon="pi pi-times" class="p-button-outlined p-button-plain p-mr-2"
                styleClass="p-button-sm" (click)="closeform(true)"></button>
        </div>
    </div>
</p-toolbar>

<div class="card" *ngIf="(Budget_detail) as Budget_detail; else loader">
    <form class="card" [formGroup]="form" style="display: flex; padding-bottom: 10px;">
        <div style="display: flex; padding-bottom: 10px;">
            <div class="p-field" style="padding-right: 10px;">
                <label for="number_doc">Номер</label>
                <div class="p-inputgroup">
                    <input id="number_doc" type="text" pInputText [(ngModel)]="Budget_detail.doc.nom"
                        formControlName="number_doc" />
                </div>
            </div>

            <div class="p-field" style="padding-right: 10px;">

                <label for="date_doc">Дата <span style="color: red;">*</span></label>
                <div class="p-inputgroup">
                    <input id="date_doc" type="date" pInputText [(ngModel)]="Budget_detail.doc._date"
                        formControlName="date_doc" />
                </div>
                <span class="p-invalid" *ngIf="form.controls['date_doc'].invalid && form.controls['date_doc'].touched">
                    <span *ngIf="form.controls['date_doc'].errors?.required">Дата не должна быть пустой</span>
                </span>
            </div>
            <div class="p-field" style="padding-right: 10px; width: 20rem;">
                <label for="org_name">Наименование организации <span style="color: red;">*</span></label>
                <div class="p-inputgroup">
                    <input id="org_name" type="text" pInputText [(ngModel)]="Budget_detail.doc._organization.name_rus"
                        formControlName="org_name" />
                    <span class="p-inputgroup-addon cursor-pointer" (click)="viewOrg()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-files" viewBox="0 0 16 16">
                            <path
                                d="M13 0H6a2 2 0 0 0-2 2 2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 13V4a2 2 0 0 0-2-2H5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1zM3 4a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4z" />
                        </svg>
                    </span>
                    <span class="p-inputgroup-addon cursor-pointer" (click)="selectOrg()">...</span>
                </div>
                <span class="p-invalid" *ngIf="form.controls['org_name'].invalid && form.controls['org_name'].touched">
                    <span *ngIf="form.controls['org_name'].errors?.required">Наименование не должно быть
                        пустым</span>
                </span>
            </div>
            <div class="p-field" style="padding-right: 10px;">

                <label for="god_ucheta">Планируемый год <span style="color: red;">*</span></label>
                <div class="p-inputgroup">
                    <input id="god_ucheta" type="number" pInputText [(ngModel)]="godNumber" (change)="changeGodUch()"
                        formControlName="god_ucheta" />
                </div>
                <span class="p-invalid"
                    *ngIf="form.controls['god_ucheta'].invalid && form.controls['god_ucheta'].touched">
                    <span *ngIf="form.controls['god_ucheta'].errors?.required">Заполните поле</span>
                </span>
            </div>
        </div>

        <div style="display: flex; padding-bottom: 10px;">
            <!-- вид расхода -->
            <div class="p-field" style="padding-right: 10px;">
                <label for="vid_rashoda">Вид расхода<span style="color: red;">*</span></label>
                <div>
                    <p-dropdown placeholder="Выберите вид расхода" [options]="_vid_rashoda" optionLabel="name"
                        optionValue="name" appendTo="body" [(ngModel)]="Budget_detail.doc._vid_rashoda"
                        formControlName="vid_rashoda">
                    </p-dropdown>
                </div>
                <span class="p-invalid"
                    *ngIf="form.controls['vid_rashoda'].invalid && form.controls['vid_rashoda'].touched">
                    <span *ngIf="form.controls['vid_rashoda'].errors?.required">Выберите вид расход</span>
                </span>
            </div>

            <!-- вид данных -->
            <div class="p-field" style="padding-right: 10px;">
                <label for="vid_dannyh">Вид данных<span style="color: red;">*</span></label>
                <div>
                    <p-dropdown placeholder="Выберите вид данных" [options]="_vid_dannyh" optionLabel="name"
                        optionValue="name" appendTo="body" [(ngModel)]="Budget_detail.doc._vid_dannyh"
                        formControlName="vid_dannyh">
                    </p-dropdown>
                </div>
                <span class="p-invalid"
                    *ngIf="form.controls['vid_dannyh'].invalid && form.controls['vid_dannyh'].touched">
                    <span *ngIf="form.controls['vid_dannyh'].errors?.required">Выберите вид данных</span>
                </span>
            </div>

            <!-- вид операции -->
            <div class="p-field" style="padding-right: 10px;">
                <label for="vid_operacii">Вид операции<span style="color: red;">*</span></label>
                <div>
                    <p-dropdown placeholder="Выберите вид операции" [options]="_vid_operacii" optionLabel="name"
                        optionValue="name" appendTo="body" [(ngModel)]="Budget_detail.doc._vid_operacii"
                        formControlName="vid_operacii">
                    </p-dropdown>
                </div>
                <span class="p-invalid"
                    *ngIf="form.controls['vid_operacii'].invalid && form.controls['vid_operacii'].touched">
                    <span *ngIf="form.controls['vid_operacii'].errors?.required">Выберите вид операции</span>
                </span>
            </div>

        </div>
    </form>


    <p-splitter [panelSizes]="[15, 85]" styleClass="mb-5">
        <ng-template pTemplate>
            <div style="width: 100%;">
                <p-tabView>
                    <p-tabPanel header="Основная">
                        <div style="padding: 0 0 10px 10px;">
                            <button pButton pRipple label="добавить ФКР" icon="pi pi-plus"
                                class="p-button-success p-mr-2" (click)="add_fkr()"></button>
                        </div>
                        <p-table [value]="fkr_array" [scrollable]="true" scrollHeight="calc(100vh - 200px)"
                            selectionMode="single"
                            styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="text-align:center">Программа</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-fkr let-ri="rowIndex">
                                <tr class="cursor-pointer">
                                    <td (dblclick)="filterFKR(fkr)">
                                        {{fkr.code}}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>

                    </p-tabPanel>
                </p-tabView>
            </div>
        </ng-template>
        <ng-template pTemplate>
            <div style="width: 100%;">
                <p-tabView>
                    <p-tabPanel header="Заявки">

                        <div class="p-toolbar-group-left" style="padding: 0 0 10px 10px;">
                            <div>
                                <button [disabled]="fkr == undefined || fkr.id == 0" pButton pRipple
                                    label="добавить специфику" icon="pi pi-plus" class="p-button-success p-mr-2"
                                    (click)="addSpec(fkr)" style="padding-right: 10px; margin-right: 5px;"></button>
                            </div>
                            <button type="button" pButton pRipple icon="pi pi-file-excel" styleClass="p-button-sm"
                                (click)="exportExcel()" class="p-button-info p-mr-2" label="Выгрузить в XLS"
                                pTooltip="XLS" tooltipPosition="bottom" id="sheetjsexport"></button>
                        </div>

                        <p-table [value]="tbl" [scrollable]="true" scrollHeight="calc(100vh - 200px)"
                            selectionMode="single" styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines"
                            [resizableColumns]="true" columnResizeMode="expand">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th rowspan="3" style="text-align:center; width: 30%;">Код специфики</th>
                                    <th rowspan="3" style="text-align:center; width: 30%;">Форма</th>
                                    <th rowspan="3" style="text-align:center">Прогноз</th>
                                    <th rowspan="3" *ngIf="fkr !== undefined && fkr.id !== 0" style="text-align:center">
                                        Действия</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-izm let-ri="rowIndex">
                                <tr class="cursor-pointer">
                                    <td>
                                        <div class="p-inputgroup w-full">
                                            {{ izm._spec.code + '. ' + izm._spec.name_rus }}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="p-inputgroup w-full">                                     
                                                {{ izm._form.name + '. ' + izm._form.head_form }}
                                        </div>
                                    </td>
                                    <td style="text-align:center;">
                                        {{izm.summ.toFixed(3)}}
                                    </td>
                                    <td *ngIf="fkr !== undefined && fkr.id !== 0" style="padding: 0; margin:0;">
                                        <div class="flex align-items-center justify-content-center gap-2">
                                            <button pButton pRipple type="button" icon="pi pi-pencil"
                                                class="p-button-rounded p-button-text"
                                                (click)="onRowEdit(izm, ri)"></button>
                                            <button pButton pRipple type="button" icon="pi pi-trash"
                                                (click)="delReq(ri, izm._spec.code)"
                                                class="p-button-rounded p-button-text"></button>
                                        </div>

                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </p-tabPanel>
                </p-tabView>
            </div>
        </ng-template>
    </p-splitter>

    <ng-template #empty>
        <div class="center">
            Нет ни одной записи
        </div>
    </ng-template>
</div>

<p-confirmDialog [closeOnEscape]="true" acceptLabel="Да" rejectLabel="Нет" [style]="{width: '450px'}">
</p-confirmDialog>

<ng-template #loader>
    <app-skeleton></app-skeleton>
</ng-template>