<p-toolbar>

    <div class="p-toolbar-group-left" >
        <button pButton pRipple label="выбрать" icon="pi pi-check" class="p-button-success p-mr-2"
        (click)="onSelected(selected)"></button>
    </div>
    <div class="p-toolbar-group-right">
        <span class="p-input-icon-left" style="margin-right: 10px;">
            <i class="pi pi-search"></i>
            <input pInputText type="text" [(ngModel)]="searchSta" (change)="fetchSta()" placeholder="поиск по коду" />
        </span>
        <div style="padding-right: 10px;">
            <button pButton pRipple type="button" icon="pi pi-refresh" class="p-button-outlined"
            styleClass="p-button-sm" (click)="fetchSta()"></button>
        </div>
       
    </div>

</p-toolbar>

<div class="card" *ngIf="(stazh_categorys$ | async) as stazh_categorys; else loader">
    <p-table *ngIf="stazh_categorys.count !== 0; else empty" [value]="stazh_categorys.results" [scrollable]="true"
            scrollHeight="calc({{windowHeight}}px - 230px)" selectionMode="single" [(selection)]="selected"
            styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines">
    
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:5%; text-align:center">Номер</th>
                    <th style="width:95%; text-align:center">Наименование</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-stazh let-ri="rowIndex" [pSelectableRow]="stazh">
                <tr class="cursor-pointer"  (dblclick)="onRowClick(stazh)">
                    <td style="text-align: center; font-weight: 700;">{{ri + 1}}</td>
                    <td style="text-align:center">
                        {{stazh.name}}
                    </td>
                </tr>
            </ng-template>

        </p-table>
        <ng-template #empty>
            <div class="center">
                Нет ни одного стажа категории
            </div>
        </ng-template>

        <div *ngIf="stazh_categorys.count !== 0" class="flex align-items-center justify-content-center">
            <span class="mx-1 text-color">Указано</span>
            <p-paginator [first]="first" [rows]="rows" [totalRecords]="stazh_categorys.count || 0"
                (onPageChange)="onPageChange($event)" [showCurrentPageReport]="true"
                currentPageReportTemplate="{{first+1}} - {{(first + rows) > (stazh_categorys.count || 0)  ? stazh_categorys.count : first + rows }} из {{stazh_categorys.count}} элементов"
                [showPageLinks]="true" [showFirstLastIcon]="true"></p-paginator>
        </div>

</div>

<ng-template #loader>
    <app-skeleton></app-skeleton>
</ng-template>

